.screen-overlay{
    display: block;
    background-size: contain;
}

#cursor-overlay{
    z-index: -1;
}

#background-overlay{
    z-index: -2;
    overflow: hidden;
}

#background-overlay video{
    object-fit: cover;
    object-position: center;
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.screen-overlay, #background-overlay video{
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}